xmlvalido_GRUPO06/dtd_externa/Ejercicio II/Ejercicio II.2b/Ejercicio II.2b.dtd

<!ELEMENT fichero (ficha+)>
<!ELEMENT ficha (nombre, apellido, direccion*, DUI?, numero_telefono?, NIT?)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre sexo (masculino|femenino|desconocido) #REQUIRED>
<!ATTLIST nombre edad  CDATA  #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT DUI (#PCDATA)>
<!ELEMENT numero_telefono (#PCDATA) >
<!ELEMENT NIT (#PCDATA) > 